    /* ******************* */
/* tnits colgroup */
/* color:#e69500; */
/* #8a5900  */
/* ******************* */
html{
    /* font-size:62.5%; */
    font-size: 10px;
}

body{
    /* font-size: 10px; */
color:#737373;
font-family: rubik;

}

.block1{
    background-color: #fdf2e9;
    box-sizing: border-box;
    padding:50px 50px;
    margin: auto;


}
a{
    text-decoration: none;
    color: inherit;
}
/* ************************* */
/* omnifood header styling */
/* ************************* */
.omnifood-header{
    display: flex;
    justify-content: space-between;
    font-family: rubik;
    /* background-color: #fdf2e9; */
}
.header-link-side{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: #737373;
    font-size: 5.2rem;
    text-align: center;
}
.header-logo-text{
    font-size: 5.2rem;
    font-weight: 600;
    color: #e69500;

}
.link-side-ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 2.4rem;
    font-weight: 600;
}
.link-side-ul li{
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    transition: all 0.5s;
}
.link-side-li:last-child{
    background-color: #e69500;
}
.link-side-ul li:hover{
    background-color: #e69500;
}

/* ************************* */
/* omnifood main styling */
/* ************************* */
.main{
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
    /* background-color: #fdf2e9; */
}
.main-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-shrink:inherit; */
}
.text-area-gallery{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.main-text-area-heading{
    font-size: 5.6rem;
    font-weight: 600;
    font-family: rubik;
   
}

.main-text-area-pera{
    font-size: 2.8rem;
}
.main-text-area-btn{
    
    /* font-weight: bold; */
    padding: 1.5rem 2rem;
    background-color: #e69500;
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    transition: all 0.5s;

}
.main-text-button{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.learn{
    background-color: white;
    color: #737373;
    margin-left: 2rem;
}
.learn:hover{
    background:#e69500;
    color: white;
}
.main-text-area-btn:hover{
    background-color:#8a5900 ;
}
.main-img{
    height: 50rem;
}
.main-img-area{
    display: flex;
   

    flex-shrink: 2;
}
.imgf{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-left: -3rem;
}
.text-area-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}.text-area-gallery-pera{
    margin-left: 1rem;
    font-size: 2.4rem;
}
.delivered-meal{
    color:#e69500 ;
    font-weight: 70rem;
    font-size: 3.2rem;
}
/* ************************* */
/* featu
re-logosstyling */
/* ************************* */
.feature-logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.feature-logos-text-are h3{
    font-size: 3.2rem;
    font-weight: 600;
}
.feature-logos-logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.feature-img{
    height: 20rem;
    width: 20rem;
}
/* ************************* */
/* How styling */
/* ************************* */
.how{
    padding-left:5rem;
    padding-right:5rem;
}
.how-heading{
    color: #e69500;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: rubik;
}
.how-heading2{
    font-family: rubik;
    font-size: 4.8rem;
    font-weight: 600;
}

.number{
    font-size: 9.6rem;
    font-weight: 700;
    color: #d5d5d5;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: rubik;
}
.number-heading{
    font-size: 3.6rem;
    font-weight: 600;
    font-family: rubik;
}
.how-img-area{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.how-img{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  
}

.number-text{
    font-size: 2.4rem;
}
.mobileimg{
    height: 70%;
    width: 70%;
    border-radius: 0.8rem;
    z-index: 1;
}
.how-img{
    display: flex;
    justify-content: space-between;
}
.zindex::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    background-color: rgb(242, 194, 104);
   height: 100%;
   width: 100%;
   border-radius: 50%; 
   
}
.zindex::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    background-color: #e9d4ab;
   height: 90%;
   width: 90%;
   border-radius: 50%; 
   
}

    .zindex{
        display: flex;
        position: relative;
        justify-content: center;
       
    }

/* ************************* */
/* meal section styling */
/* ************************* */
.meal{
    display: flex;
    flex-direction: column;
    font-family: rubik;
    margin-top: 10rem;
    padding: 0 5rem;
}
.meal-text-heading1{
    color: #e69500;
    font-size: 3.2rem;
    font-weight: 600;
    font-family: rubik;
}
.meal-text-heading2{
    font-family: rubik;
    font-size: 5.6rem;
    font-weight: 600;
}
.meal-cart-area{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 5rem;
    padding: 0 5rem;
    margin:0 5rem;

}
.meal-cart-img{
    height: 35rem;
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin-bottom: 4rem;
}


.cart1,.cart2{
    transition: all 0.35s;
    box-shadow: 0.2rem 0.2rem 0.5rem #737373;
}
.cart3{
    padding-left: 2rem;
    padding-right: 2rem;
    
}
.cart:hover{
    transform: scale(1.035);
    box-shadow: 0.2rem 0.2rem 0.2rem #737373;
}
.cart-title{
    font-size: 3.2rem;
    margin-left: 2rem;
}
.tag{
    padding: 0.5rem;
    background-color: green;
    font-size: 2.4rem;
    color:white;
    border-radius: 1rem;
    margin-left:  2rem;
    
}
.tag2{
    background-color: chartreuse;
    color: black;

}
.pheading1{
    font-size: 3.6rem;
    font-weight: 400;
}
.listitem{
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.6;
    list-style: none;
    /* margin-left: 10px; */
}
.ionicon{
    margin-right: 1rem;
    font-size: 3.2rem;
    color: #e69500;
}
    
    .cart-li,.listitem{
        font-size: 2.4rem;
        line-height: 1.8;
        list-style: none;
    }
.mealfooter{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-decoration: underline;
    color: #e69500;
    font-size: 2.4rem;
}
.cart-ul{
    /* padding: 30px; */
    margin: 3rem;
}
/* ************************* */
/* testimonial styling */
/* ************************* */
.testimonial{
    display: grid;
    grid-template-columns: 1fr 1fr;
  padding: 0 5rem;
    margin-top: 10rem;
   
    background-color:#fdf2e9 ;
}
.testimonialh1{
    color: #e69500;
    font-size: 3.2rem;
    font-weight: 600;

}
.testimonialh2{
    font-family: rubik;
    font-size: 5.6rem;
    font-weight: 600;

}
.testimonial-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    column-gap: 10%;
}
.testimonial-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 1rem;
    overflow: hidden;
}
.testimonial-img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.testimonial-pera1{
    font-size: 1.8rem;
}
.testimonial-gallery-img:hover{
    transform: scale(1.025);

}
.testimonial-gallery-img{
    height: 30rem;
    width: 100%;
}
/* ************************* */
/* pricing section styling */
/* ************************* */
.pricing{
    padding: 0 5rem;
    display: flex;
    flex-direction: column;

}
.pricing-heading1{
    color: #e69500;
    font-size: 3.2rem;
    font-weight: 600;
}
.pricing-heading2{
    
    font-size: 5.6rem;
    font-weight: 600;
}
.pricing-box-area{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.pricingbox{
    background-color: hsla(39, 82%, 89%, 0.8);
    text-align: center;
    padding-bottom: 1rem;
    padding: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
}
.box-name{
    font-size: 3.2rem;
    font-weight: 600;
}
.box-haeding{
    font-size: 6.8rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.usdsign{
    font-size: 1.8rem;
}
.box-ul{
    margin-bottom: 5rem;
}
.box-text{
    font-size: 2.4rem;
    font-weight: 600;
}
.box-li{
    list-style: none;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.6;
    text-align: start;
}
.priceion{
    color: #e69500;
    padding: 1rem;
    font-weight: bold;
    font-size: 3.2rem;
}
.box-btn{
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1rem 1rem;
    background-color: #e69500;
    border-radius: 1rem;
    color: white;
    text-decoration: underline;
}
.box2{
    position: relative;
    overflow: hidden;
}
.box2::after{
    content: "BEST PRICE";
    background-color: #e69500;
    color: white;
    padding: 1rem 5rem;
    position: absolute;
    top: 4%;
    right: -9%;
    transform: rotate(45deg);
    font-size: 1.8rem;
    font-weight: bold;
}
/* ************************* */
/* feature section styling */
/* ************************* */
.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    margin-top:10rem;
    margin-left: 5rem;
    margin-right: 5rem;
    column-gap: 5%;
}.feature1,.feature2,.feature3,.feature4{
    text-align: center;
}
.feature-heading,.ioniconf{
    font-size: 3.2rem;
    font-weight: 600;
}
.ioniconf{
    color: #e69500;
    font-size: 4.2rem;
}
.feature-text{
    text-align: left;
    font-size: 2.4rem;
}
/* ************************* */
/* cta section styling */
/* ************************* */
.cta{
    display:grid;
    grid-template-columns: 2fr 1fr;
    /* height: 500px; */
    background-image: linear-gradient(to right,#e69500,#faeacc);
    margin-top: 10rem;
    border-radius: 1rem;
    overflow: hidden;
}
.cta-img-area{
    background-image:linear-gradient(to right,hsla(39, 100%, 45%, 0.309),hsla(39, 82%, 89%, 0.309)),url("images/weating.jpg.jpg");
background-size: cover;
background-position: center;
overflow: hidden;
}
.cta-text-area-heading{
    font-size: 5.6rem;
    font-weight: 700;
    margin: 1rem;
}
.cta-text-area-pera{
    font-size: 2.4rem;
    font-weight: 600;
}.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 10rem;
    /* padding: 50px; */
    /* row-gap: 100px; */
}
.email-side,.name-side{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.cta-form input,select{
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.8rem;
    color: inherit;

}
.cta-form label{
    font-size:  2.4rem; ;
    font-weight: 600;
}
.cta-btn{
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1rem;
    background-color: #737373;
    border-radius: 0.8rem;
    margin-top: 7rem;
}
.cta-text-area{
    padding: 3rem;
}
.optn{
    /* color:#737373; */
    /* background-color: #737373; */
}
.slct{
    color: #737373;
}
/* ************************* */
/* footer section styling */
/* ************************* */
.omnifooter{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 100px auto; 
    align-content: center;
    justify-items: center;
    /* column-gap: 10px; */
}
.footer-text{
    font-size: 3.2rem;
    font-weight: 600;
}
.footer-icon{
    font-size: 3.2rem;
    
    color: #e69500;
}
.footer-li{
    list-style: none;
    line-height: 1.8;
    font-size: 2.4rem;
    text-align: left;
    
}
.footer-ul{
    padding-left: 0;
}
.footer-box footer{
    align-items: center;
    justify-content: center;
}


.per{
    display: flex;
   justify-content: center;
    margin-top: 5rem;
    font-size: 3.2rem;
    font-weight: 300;
    /* margin-bottom: 100px; */
    padding: 1rem;
    
    background-color: #737373;
    color: rgb(97, 79, 79);
}
/*88888888888*/

   